<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="/header/novu-header.js" defer></script>
</head>
<body>
  <novu-header home-href="/selector"></novu-header>

  <div class="container">
    <%- body %>
  </div>
</body>
</html>