services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://db:27017/nova_db
    depends_on:
      - db
  db:
    image: mongo:latest
    ports:
      - "27017:27017"